
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.grid {
  fill: none;
  shape-rendering: crispEdges;
  stroke: lightgrey;
  stroke-width: 1px;
}
